{% extends "galeria/base.html" %}
{% load static %}

{% block content %}
<main style="background-color: #f9f9f9; padding: 20px;">
    <h1 style="color: #333; text-align: center;">Bem-vindo à Cê tá onde</h1>
    <section class="cards">
        <article class="card">
            <h2 style="color: #007acc;">Explorando o Mundo</h2>
            <div class="image-container">
                <img src="{% static 'assets/images/explorando_o_mundo.jpg' %}" alt="Explorando o Mundo">
            </div>
            <p style="color: #333;">Descubra lugares incríveis para visitar e aproveitar cada momento ao máximo.</p>
            <a href="{% url 'dicas' %}" class="button">Saiba Mais</a>
        </article>
        <article class="card">
            <h2 style="color: #007acc;">Galeria de Fotos</h2>
            <div class="image-container">
                <img src="{% static 'assets/images/placeholder.jpg' %}" alt="Exemplo de Galeria">
            </div>
            <p style="color: #333;">Veja fotos de tirar o fôlego dos destinos mais incríveis.</p>
            <a href="{% url 'index' %}" class="button">Ver Galeria</a>
        </article>
        <article class="card">
            <h2 style="color: #007acc;">Dicas de Viagem</h2>
            <p style="color: #333;">Encontre as melhores dicas para tornar suas viagens mais agradáveis e econômicas.</p>
            <a href="{% url 'dicas' %}" class="button">Leia Mais</a>
        </article>
        <article class="card">
            <h2 style="color: #007acc;">Contato</h2>
            <p style="color: #333;">Entre em contato conosco para mais informações e suporte.</p>
            <a href="{% url 'contato' %}" class="button">Fale Conosco</a>
        </article>
        <article class="card">
            <h2 style="color: #007acc;">Blog de Viagens</h2>
            <p style="color: #333;">Leia histórias e dicas de viagem de nossos colaboradores.</p>
            <a href="{% url 'blog' %}" class="button">Visitar Blog</a>
        </article>
    </section>
</main>
{% endblock %}
